/* Font Declaration */
.title {
    font-size: 44px;
    line-height: normal;
    font-family: var(--font-1);
}

.header-1 {
    font-size: 28px;
    line-height: normal;
    font-family: var(--font-1);
}

.header-2 {
    font-size: 24px;
    line-height: normal;
    font-family: var(--font-1);
}

.header-3 {
    font-size: 20px;
    line-height: normal;
    font-family: var(--font-1);
}

.body-1 {
    font-size: 16px;
    line-height: normal;
    font-family: var(--font-2);
}

.body-2 {
    font-size: 12px;
    line-height: normal;
    font-family: var(--font-2);
}
/* End Font Declaration */

@media only screen and (max-width: 767.98px) {
    .title {
        font-size: 25px;
    }

    .header-1 {
        font-size: 22px;
    }

    .header-2 {
        font-size: 19px;
    }

    .header-3 {
        font-size: 17px;
    }

    .body-1 {
        font-size: 14px;
    }

    .body-2 {
        font-size: 12px;
    }
}
